{%extends 'base.html'%}
{% block stylesheet %}
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheet/streamer.css')}}">
{% endblock %}

{% block title %}{{ 'Settings' }}{% endblock %}

{% block content %}
<div class="streamer-settings-con">
    <div class="column1">
        <div class="profile-con">
{#            Profile #}
            <section class="card-profile">
                {% include "profile.html" %}
            </section>
{#            options #}
            <hr>
            <section class="settings-options">
                {% for i in range(1) %}
                 <a class="ghost-button-container" href="" style="text-decoration: none" >
                    <div class="button-text-icon-container">
                       <div class="avater"><img style="width: 100%"  src="{{url_for('static',filename='assets/header/logo/data.png')}}"></div>
                        <div class="button-text" ><p>camera</p></div>

                    </div>
                </a>

{% endfor %}

            </section>
        </div>

    </div>

    <div class="column2">
    <div class="camera-con" id="camera-con">

    </div>

    <div class="fab-neu-button-container" id="toggle-stream-modal">
<div class="button-text-icon-container">
<div class="button-text">
    <img src="{{url_for('static',filename='assets/streamer/plus.png')}}" width="100%" height="100%" alt="">
</div>
</div>
</div>


     <form class="form-container hide" id="signupID" style="width: 30%">
        <div class="form-group">
            <label for="camAngles">Cam angles:</label>
            <select name="options" id="camAngles" style="color: gray">
                {% for i in  camera_angles %}
                <option value="{{ i }}" >{{ i }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-group">
            <label for="camLabel">Media Server Config</label>
            <input type="text" id="camLabel"  required placeholder="Label of Stream"></div>
        <button type="" class="form-button" id="add-card">Add</button>
    </form>


    </div>
</div>






{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block script %}
    <script>
        const base_url = 'http://localhost:5000/api/v1/';
    let count;
    const toggleModal = document.getElementById('toggle-stream-modal');
    const modal = document.getElementById('signupID');
    const addCard = document.getElementById('add-card');
    const cameraCon = document.getElementById('camera-con');
    const camValue =document.getElementById('camAngles');
    const camName =document.getElementById('camLabel');
    let camData;
    toggleModal.addEventListener('click',(e)=>{
        e.stopPropagation();
        modal.classList.toggle('hide')
    });
    addCard.addEventListener(('click'),(e)=>{
        e.preventDefault();
        if(camName.value){
                camData = {camAngle:camValue.value,camLabel:camName.value}
                stream(camData);
        }

    })

    modal.addEventListener('click', (e) => {
    e.stopPropagation();
    });


    async function stream(camData) {
            const headers = {'Accept': 'application/json', 'Content-Type': 'application/json'};
            try {
                let fetchObj = await fetch(base_url + 'initialize_stream', {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify({camAngle:camData.camAngle,camLabel:camData.camLabel}),
                    credentials:'include'
                });
                if (fetchObj.ok) {
                    const cred = await fetchObj.json();
                    const data = cred['data'];
                    const localStorageConfig = JSON.parse(window.localStorage.getItem('multiStreamConfig'));
                    localStorageConfig.push(data);
                    window.localStorage.setItem('multiStreamConfig',JSON.stringify(localStorageConfig));
                    const stream_id = data.stream_id;
                    const credLabel = ['stream name','username','password']
                    const credData =[data.stream_name,data.username,data.password];
                    const credObjId = data.object_id
                    const credPrimaryServer = data.primary_server
                    cameraCon.innerHTML += `
                    {#<div style="width:80%;text-align:center"><p>d</p><div>#}
        <section class="settings-section" style="position:relative" data-streamid=${credObjId}>
             <div class="badge-error" style="left:90%!important" id="status-badge${credObjId}"></div>
            <div class="" style="width: 80%;height:100%;display: flex;flex-direction: column;justify-content:space-around;">
                {% for i in range(3) %}
                <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">${credLabel[{{ i }}]}</label>
                <input type="text" id="name" data-value="${credData[{{ i }}]}" value="${credData[{{ i }}]}" disabled style="color:gray" >
                </div>
                 {% endfor %}
                 <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">cam angle</label>
                <input type="text" id="name" data-value="${data.cam_angle}" value="${data.cam_angle}" disabled style="color:gray" >
                </div>

                  <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">cam name</label>
                <input type="text" id="name" data-value="${data.cam_label}" value="${data.cam_label}" disabled style="color:gray" >
                </div>
                        <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">server</label>
                <input type="text" id=""  value="${credPrimaryServer}" disabled style="color:gray" >
                </div>

            </div>
            <div class="remove-icon-con" style="width: 20%">

                  <div class="trash-con">
                    <img src="{{ url_for('static',filename='assets/streamer/active-listening.png') }}" class='img-listen' width="100%" height="100%" alt="">
                </div>
                <div class="trash-con" style="margin-left:10px;">
                    <img src="{{ url_for('static',filename='assets/streamer/trash.png') }}" class='img-trash' width="100%" height="100%" alt="">
                </div>

            </div>
        </section>`




                } else {
                    console.error('Error with status code ' + fetchObj.status);
                }

            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }


         async function deleteStream(dataId,section) {
            const headers = {'Accept': 'application/json', 'Content-Type': 'application/json'};
            try {
                let fetchObj = await fetch(base_url + 'stop_stream', {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify({objectId: dataId}),
                    credentials:'include'
                });
                if (fetchObj.ok) {
                    const cred = await fetchObj.json()
                    console.log(typeof (cred))
                    console.log(cred);
                    section.remove();
                const localStorageConfig = JSON.parse(window.localStorage.getItem('multiStreamConfig'));
                localStorageConfig.forEach((data, index) => {
                    if (data.object_id === dataId) {
                        localStorageConfig.splice(index, 1);
                    }
                });
            window.localStorage.setItem('multiStreamConfig', JSON.stringify(localStorageConfig));


                } else {
                    console.error('Error with status code ' + fetchObj.status);
                }

            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }
         async function startTheStream(dataId,section) {
            const headers = {'Accept': 'application/json', 'Content-Type': 'application/json'};
            try {
                let fetchObj = await fetch(base_url + 'listen_to_stream', {
                    method: 'PUT',
                    headers: headers,
                    body: JSON.stringify({objectId: dataId}),
                    credentials:'include'
                });
                if (fetchObj.ok) {
                    const cred = await fetchObj.json()
                    if(cred['data']){
                        let statusButton;
                          const localStorageConfig = JSON.parse(window.localStorage.getItem('multiStreamConfig'));
                        statusButton = section.querySelector(`#status-badge${dataId}`);
                        statusButton.classList.replace('badge-error','badge-success');
                        localStorageConfig.forEach((data,index) => {
                            if (data.object_id === dataId) {

                                localStorageConfig[index].stream_state='starting';
                                console.log(localStorageConfig)
                            }
                });
                window.localStorage.setItem('multiStreamConfig', JSON.stringify(localStorageConfig));

                    }

                } else {
                    console.error('Error with status code ' + fetchObj.status);
                }

            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

    cameraCon.addEventListener('click', function(event) {
    if (event.target.classList.contains('img-trash')) {
        const section = event.target.closest('.settings-section');
        const dataId = section.dataset.streamid
        deleteStream(dataId,section);

    }
    if (event.target.classList.contains('img-listen')) {
        const section = event.target.closest('.settings-section');
        const dataId = section.dataset.streamid
        let streamResp = startTheStream(dataId,section);
    }
});




  document.addEventListener('click', (event) => {
    if (!modal.classList.contains('hide')) {
         modal.classList.toggle('hide');
    }
});




  document.addEventListener('DOMContentLoaded', function() {
      let multiCamData =[]

      if(window.localStorage.getItem('multiStreamConfig') == null){
          window.localStorage.setItem('multiStreamConfig',JSON.stringify(multiCamData));
      }
      else{
          const multiData = JSON.parse(window.localStorage.getItem('multiStreamConfig')) ;
          if(multiData && multiData.length>0){

                    const cameraContainer = document.getElementById('camera-con');
                   cameraContainer.innerHTML = '';


                   multiData.forEach(data=>{
                                        cameraContainer.innerHTML += ` <section class="settings-section" style="position:relative" data-streamid=${data.object_id}>
             <div class="${data.stream_state==='stopped'?'badge-error':'badge-success'}" style="left:90%!important" id="status-badge${data.object_id}"></div>
            <div class="" style="width: 80%;height:100%;display: flex;flex-direction: column;justify-content:space-around;">

                <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">stream name</label>
                <input type="text" id="name" data-value="${data.stream_name}" value="${data.stream_name}" disabled style="color:gray" >
                </div>

                <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">username</label>
                <input type="text" id="name" data-value="${data.username}" value="${data.username}" disabled style="color:gray" >
                </div>

                <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">password</label>
                <input type="text" id="name" data-value="${data.password}" value="${data.password}" disabled style="color:gray" >
                </div>



                 <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">cam angle</label>
                <input type="text" id="name" data-value="${data.cam_angle}" value="${data.cam_angle}" disabled style="color:gray" >
                </div>

                  <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">cam name</label>
                <input type="text" id="name" data-value="${data.cam_label}" value="${data.cam_label}" disabled style="color:gray" >
                </div>
                        <div class="form-group campara">
                   <label for="" style="font-size:10px;color:gray">server</label>
                <input type="text" id=""  value="${data.primary_server}" disabled style="color:gray" >
                </div>

            </div>
            <div class="remove-icon-con" style="width: 20%">

                  <div class="trash-con">
                    <img src="{{ url_for('static',filename='assets/streamer/active-listening.png') }}" class='img-listen' width="100%" height="100%" alt="">
                </div>
                <div class="trash-con" style="margin-left:10px;">
                    <img src="{{ url_for('static',filename='assets/streamer/trash.png') }}" class='img-trash' width="100%" height="100%" alt="">
                </div>

            </div>
        </section>`
                   })


          }
      }



});


    </script>

{% endblock %}
