    <div class="button-alert-success" style="display: none">
            <div class="alert-icon">✔</div>
            <div class="alert-message"><p>Success! Your action was successful.</p></div>
        </div>
        <div class="button-alert-error" style="display:none;">
            <div class="alert-icon">✔</div>
            <div class="alert-message"><p>Error</p></div>
        </div>
     <div class="button-alert-info" style="display: none">
            <div class="alert-icon">✔</div>
            <div class="alert-message"><p>Success! Your action was successful.</p></div>
        </div>
    